a{
    color: initial;
    text-decoration: initial;
}
a:hover{
    color: rgb(21, 175, 175);
}
.story-container{
    display: flex;
    justify-content: center;
    margin: 35px 0px;
}
.stories{
    width: 335px;
    /* border: 1px solid black; */
    /* max-height: 740px; */
}
.storyHeaders{
    border: 2px solid #908e8e;
}
.storyItem{
    padding: 10px 8px 0px 8px;
    cursor: pointer;
}
.storytitle{
    font-size: 14px;
    user-select: none;
}
.storytitle:hover{
    color: rgb(21, 175, 175);
    cursor: pointer;
}
.content{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.latest-news{
    margin-left: 45px;
}
.desc{
    font-size: 14px;
}
.category{
    margin-bottom: 2px !important;
    /* color: #e24700; */
    color: #0195dd;
}
.title{
    margin-bottom: 5px !important;
}
.title:hover{
    /* color: rgb(21, 175, 175); */
    cursor: pointer;
}
.newsItem{
    display: flex;
    width: 635px;
    border-bottom: 1px solid #cdc4c4;
    padding: 10px 0px;
    cursor: pointer;
}
.top-stories-header{
    border-bottom: 2px solid #8b8a8a;
    padding-bottom: 15px;
    margin: 0px !important;
}
.mal-Item{
    margin-top: 30px !important;
    cursor: pointer;
}
.may-also-like{
    width: min-content;
    margin: 0px 25px;
}
.mal-header{
    margin-bottom: 10px;
}
.mal-img{
    width: 265px;
    margin-bottom: 8px;
}
.mal-category{
    /* color: #e24700; */
    color: #0195dd;
    font-weight: bold;
}
.mal-title{
    line-height: 20px;
    margin-top: 3px;
}
.mal-title:hover{
    color: rgb(21, 175, 175);
    cursor: pointer;
}
.imgWidth{
    width: 170px;
}
@media only screen and (max-width: 1345px) {
    .story-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stories{
        width: 98%;
    }
    .latest-news{
        width: 98%;
        margin-left: 0px;
        margin-top: 30px;
    }
    .newsItem{
        width: 100%;
    }
    .may-also-like{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98%;
    }
    .mal-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 20px;
    }
    .mal-Item{
        width: 100%;
    }
    .mal-img{
        width: 98%;
    }
    .latest-header{
        margin-bottom: 15px;
    }
    /* .newsItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-holder{
        width: 90%;
    }
    .imgWidth{
        width: 100%;
    } */
}
@media only screen and (max-width: 600px) {
    .stories{
        width: 90%;
    }
    .may-also-like{
        width: 90%;
    }
    .latest-news{
        width: 90%;
    }
    .latest-header{
        margin-left: 15px;
    }
    .newsItem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-holder{
        width: 90%;
    }
    .imgWidth{
        width: 100%;
    }
    .content{
        margin-top: 10px;
        margin-left: 0px;
        width: 90%;
    }
}